@import '../../../../assets/styles/import.scss';
@import '../../../../variables.scss';

.tilePreview {
    border-radius: 1rem;

    // height: 100%;
    width: 50%;
    background-color: var(--tavla-box-background-color);
    flex: none;
    padding: 2rem;
    overflow: scroll;

    &__tileRow {
        display: flex;
        border-bottom: 2px solid var(--tavla-border-color);
        border-top: 2px solid var(--tavla-border-color);
        padding: 1em 0;
        line-height: normal;
    }

    &__label {
        // margin: 0;
        margin-bottom: 0.5em;
        // color: var(--tavla-font-color);
        font-size: 1.5em;
    }

    &__icon {
        // min-width: 2rem;
        margin-right: 1rem;
        // font-size: $font-sizes-extra-large4;
        font-size: 2em;

        // min-width: 2em;
        // margin-right: 1rem;
        // font-size: $font-sizes-extra-large4;
    }

    &__texts {
        flex-direction: column;
        // flex-grow: 1;
        overflow-x: scroll;
        // overflow-y: hidden;
        white-space: nowrap;
        // text-overflow: ellipsis;
    }

    &__platform-info {
        // font-style: normal;
        // font-weight: normal;
        color: var(--tavla-label-font-color);
        margin-bottom: 0.5em;
        // font-size: 1em;
    }

    &__sublabels {
        display: flex;
        // flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        // font-size: $font-sizes-extra-large;
        font-size: 1.25em;
    }

    &__sublabel {
        align-items: center;
        display: flex;
        font-weight: 400;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        &:first-child {
            padding-left: 0;
        }

        // svg {
        //     margin-left: -0.125rem;
        //     margin-right: -0.125rem;
        // }
    }
}

